/*
 * ---------------------------------------------------------------------------
 *  Default parameters for the eQTL Catalogue genotype QC pipeline.
 * ---------------------------------------------------------------------------
 */

params {
  cisdistance = 1000000
  n_batches = 200
  outdir = "results"
}